__pycache__/redis_manager.cpython-313.pyc
__pycache__/media_literacy_scorer.cpython-313.pyc
__pycache__/crawler.cpython-313.pyc
__pycache__/composite_scorer.cpython-313.pyc
__pycache__/blocklist.cpython-313.pyc
__pycache__/automated_updater.cpython-313.pyc
__pycache__/auto_update_splc.cpython-313.pyc
__pycache__/auto_update_bcorp.cpython-313.pyc
__pycache__/app.cpython-313.pyc
